{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "jest": true,
    "browser": true
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prop-types": ["error", { "ignore": ["navigation"] }],
    "import/no-named-as-default": 0
  }
}